.container {
    padding-left: 32px;
    margin-top: 10px;
}

.form_label{
    font-size: 14;
    font-weight: 600;
    color: var(--neutral-600);
    width: 280px;
}

.required::after{
    content: '*';
    color: var(--neutral-600);
    font-weight: 600;
}

.image_locale {
    border-radius: 10px;
    border: 1px solid var(--neutral-600);
    width: 60px;
    height: 60px;
    object-fit: cover;
}